<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="JcwCustomerOverrideAssembly" value="D:\src_tree\users\jwolfe\src_tree\trunk\ThirdParty.Jcw.SnapIn\bin\Debug\ThirdParty.Jcw.SnapIn.dll"/>
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
