<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="InDebug" value="True" />
    <add key="IndexFileSystemLocation" value="D:/TEMP/LuceneDatabaseIndex" />
    <add key="ItemsToIndexFilename" value="DatabaseItemsToIndex.xml" />
  </appSettings>
</configuration>