<?xml version="1.0"?>
<configuration>
  <appSettings>
    
    <!-- Default settings -->
    <!--SSID => Wifly-GSX-XX (where XX are the last 2 digits of the serial number)-->
    <!--<add key="IPAddress" value="169.254.1.1"/>-->
    <!--<add key="PortNumber" value="2000"/>-->
    
    <!-- GCog Development Settings -->
    <!--SSID => GCog-833613AA7F (where the 10 digits are the serial number)-->
    <add key="IPAddress" value="169.254.1.2"/>
    <add key="PortNumber" value="2222"/>
    <add key="Password" value="justinjustin"/>
    <!-- GCog Development Settings -->
    
  </appSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
